 * {
    width: 100%;
    
 }
 .main {
    align-items: left;
    position: relavtive ;
    display: flex;
    width: 100%;
    max-height: 100vh;
    margin: 0;
}
.sideBar {
    width: 30%;
    background-color: #132159;
    height: 100vh;
    
}

.ads {
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 15px;
    height: 100px;
    width: 220px;
    padding: 20px;
    background-color: #e0e6ff;
    color: #0d1841;
}

.listItems {
    flex-direction: row;
    color: white;
    list-style-type: none;
}


.logOut {
    margin-top: 90%;
}

.mainArea {
    height: 100vh;
    background-color: #fafbfd;
}
nav {
    background: #e0e6ff;
    height: 80px;
    width: 100%;
}
nav .userName {
    color: #0d1841;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    
}
nav ul {
    width: 30%;
    float: right;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: row;
}
nav ul li {
    display: inline-block;
    /* line-height: 40px; */
    /* margin: 0 5px;  */
}
nav ul li button{
    margin-top: 16px;
}

#profileImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 16px;
    margin-left: 16px;
}
#dropDownArrow {
    line-height: 40px;
    margin: 25px 5px;
    font-size: large;

}

nav ul li a {
    font-size: 17px;
    text-transform: capitalize;
}
#upload_button {
    width: 150px;
    margin-left: 0%;
    height: 50px;
    background-color: #3360FF;
    color: white;
}
button :hover {
    background-color: #132159
}

.mainList {
    margin-top: 20px;
    margin-left: 100px;
    padding: 2px;
    background-color: #132159;
    border-radius: 10px;
    width: 80%;
}
.mainList ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#heading {
    margin-left: 50px;
    margin: 5px;
    color: white;

}

a {
    margin: 0;
    padding: 0;
    color: white;
    max-height: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
}
.options-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}


#em {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    text-decoration: none;
    color: white;
}
#svg {
    width: 25px;
    height: 25px;
    margin: 0 50px;
}





/* for the pop up */


.mainArea .mainHeader {
    padding: 0px 0px 10px 0px;
}
.mainBody {
    border-radius: 15px;
}
.mainBody h2{
    margin-bottom: 20px;
    font-weight: medium;
}
.mainBody .header {
    margin-bottom: 50px;
    display: flex;
    
}
.mainBody .header input{
    background-color: f5f7ff;
    width: 200px;
    height: 30px;
    border-radius: 3px;

}
.mainBody .header h3{
    font-weight: lighter;
}
.dropZone {
    display: flex;
    background-color: #f5f7ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 4px dashed black;
    padding: 20px;;
}
#dropzonetxt {
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainBody .uploadBtn{
    border: none;
    color: #0d1841;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    /* padding: 4px; */
    width: auto;
    /* background-color: #0d1841; */
    
}
.mainBody .uploadBtn :hover{
    /* box-shadow: 10px 10px 10p rgba(0, 0, 0, 0.3); */
    border: none;
    color: #f5f7ff;
    background-color: #1e4177;

    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 50px;
    
}
button#\32{
    color: #f5f7ff;
    background-color: #1e4177;
    width: 200px;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 2px;
}
button#\31{
    color: #1e4177;
    background-color: #f5f7ff;
    width: 200px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 2px;
}



/* for the list */

.list {
    display: flex;
    justify-content: center;
    place-items: center;
    
}
.list-inner{
    padding: 10px;
    height: 100vh;
    margin-top: 5px;
    width: 75%;
}
















/*  for logout pop Up */


.logout-message {
    color: black;
    margin-left: 5%;
}
