<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Responsive NavBar</title>
        <meta name="viewport" content="width=device-width, initial-scale=0">
        <link rel="stylesheet" href="r.css">
    </head>
    <body>
        <nav>
            <label class="logo">Design X</label>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Command</a></li>
                <li><a href="#">Complain</a></li>
                <li><a href="#">Neccsity</a></li>
                <li><a href="#">Overal</a></li>
            </ul>
        </nav>
    </body>
</html>